
.navbar {
    background-color: rgb(230, 167, 73);

 ul {   

    li {
        display: flex;
        align-items: center;
        margin: 10px;
        margin-left: 30px;
        font-size: 18px;

        nav-item{
            font-family: sans-serif;
        }
   
}

.form {
    display: flex;
    align-items: center;
    margin-left: 500px;
    text-decoration: none;
    color: inherit;
    border: black 1px solid;
    border-radius: 10px;
    background-color: rgb(247, 244, 238);
}

.logotipo {
    text-align: center;
}

.container{
    border: rgb(230, 167, 73) 1px solid;
    border-radius: 30px;
}

.textoHome {
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    background-color: beige;
    border: rgb(230, 167, 73) 1px solid;
    border-radius: 30px;
    padding: 20px;
    width: 450px;
    top: 500px;
    left: 880px;
}

.footer {
    background-color: rgb(230, 167, 73);
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

}
}