.navbar {
    background-color: rgb(230, 167, 73);
}

.nav-item{
    font-family: sans-serif;
}


li {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 30px;
    font-size: 18px;

}

.form {
    display: flex;
    align-items: center;
    margin-left: 500px;
    text-decoration: none;
    color: inherit;
    border: black 1px solid;
    border-radius: 10px;
    background-color: rgb(247, 244, 238);
}
/*página Serviços*/

.logotipo {
    text-align: center;
}

.container {
    padding: 20px;
    margin-bottom: 50px;
}

.col-sm {
    background-color: white;
    border: rgb(230, 167, 73) 1px solid;
    border-radius: 30px;
    padding: 30px;
    margin: 5px;
    margin-left: 100px;
    text-align: center;
}

.lista-item h4 {
    margin-bottom: 40px;
}

.lista-item .item-content {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista-item h6 {
    align-self: flex-end;
    color: rgb(230, 167, 73);
}


h5 {
    width: 220px;
    margin-top: 5px;
}

.button {
    margin-top: 20px;
    padding: 20px;
    border: rgb(230, 167, 73) 1px solid;
    border-radius: 50px;
}

.button:hover {
    height: 100px;
}


.footer {
    background-color: rgb(230, 167, 73);
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}